{% extends 'base.html' %}
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}
    <div class="homepage-container">

        <header class="header-container">

            <div class="header-image">
                <img src="{% static 'dys_app/images/home_header.png' %}" alt="header">
            </div>

            <div class="header-description">
                <h1 class="description-title">Hé toi, petit explorateur du savoir !</h1>
                <p>Notre super application a été créée rien que pour toi ! Elle est comme une baguette magique qui t'aide à apprendre et à t'amuser en même temps. Imagine un monde où apprendre devient un jeu génial !</p>
                <p>Tu es unique, et notre application s'adapte à toi. Alors, prêt à partir à l'aventure dans le monde merveilleux de l'apprentissage ?</p>
                <a class="register-btn" href="{% url 'register' %}">Je veux m'inscrire</a>
            </div>
        </header>

        <Section class="video-container">
            <h2 class="video-title">Qu'est-ce-que la dysléxie ?</h2>

            <div class="youtube-video-container">
                <iframe class="youtube-video" src="https://www.youtube.com/embed/zafiGBrFkRM" allowfullscreen></iframe>
            </div>
        </Section>

        <Section class="section-container" id="services">
            <h2 class="section-title">LexiLearn : A quoi ça sert ?</h2>
            <div class="list-container">
                <p class="list-element"><strong>Adaptabilité Intelligente</strong> : Notre application s'ajuste automatiquement pour s'adapter à ce que chaque enfant a besoin, ce qui signifie que chacun peut apprendre de la meilleure façon qui lui convient.</p>
                <p class="list-element"><strong>Jeux Ludiques et Éducatifs</strong> : Apprendre devient super amusant avec nos jeux interactifs spécialement faits pour aider à comprendre et à se souvenir de ce qu'on apprend.</p>
                <p class="list-element"><strong>Suivi Personnalisé </strong>: Les mamans, les papas et les profs peuvent regarder comment les enfants progressent et choisir des activités qui les aident à apprendre encore mieux.</p>
                <p class="list-element"><strong>Support Multimédia</strong> :  On utilise des images et des sons cool pour aider les enfants à voir et entendre les idées, ce qui les aide à vraiment comprendre.</p>
            </div>
        </Section>

        {% if user.is_authenticated %}
            <p>Hello, {{ user.username }}!</p>
        {% else %}
            <a href="{% url 'login' %}">Connexion</a>   
        {% endif %} 
    </div>
{% endblock %}
