{% extends 'base.html' %}

{% block title %}Register{% endblock %}

{% block content %}
    <div class="form-page-container">
        <div class="form-container" id="register-form">

            <h1 class="form-title">Créer un compte</h1>

            <form method="post" action="{% url 'register' %}">
                {% csrf_token %}

                <div class="input-container">
                    <label for="username">Nom d'utilisateur:</label>
                    <input type="text" name="username" required>
                </div>

                <div class="input-container">
                    <label for="password1">Mot de passe:</label>
                    <input type="password" name="password1" required>                    
                </div>

                <div class="input-container">
                    <label for="password2">Confirmer mot de passe:</label>
                    <input type="password" name="password2" required>
                </div>

                <input type="submit" value="Register" class="btn">
                {% if form.errors %}
                    <div class="error-container">
                        <ul>
                            {% for field, errors in form.errors.items %}
                                {% for error in errors %}
                                    <li class="auth-error">{{ error }}</li>
                                {% endfor %}
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            </form>

        </div>
    </div>

{% endblock %}